name: CD_Supuesto 1

# workflow_dispatch a침ade un bot칩n "Run workflow" en la pesta침a Actions de GitHub
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del c칩digo
        uses: actions/checkout@v4

      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Generar paquete con Maven
        run: mvn -B clean package -DskipTests