name: CD_Supuesto 2

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      # Generamos el .war saltándonos los tests para ir más rápido
      - name: Generar .war con Maven
        run: mvn -B clean package -DskipTests

      # Subimos el .war a la sección Artifacts para que cualquiera lo descargue
      - name: Subir .war como artefacto
        uses: actions/upload-artifact@v4
        with:
          name: app-ejecutable
          path: target/*.war